body {
    position: relative;
}

nav.app-nav li ul {
    min-width: 100px;
}

#carbonads {
    box-shadow: none !important;
    width: auto !important;
}

:root {
    --sidebar-name-background: ;
    --sidebar-name-color: ;
}
