body {
    position: relative;
}

nav.app-nav li ul {
    min-width: 100px;
}

#carbonads {
    box-shadow: none !important;
    width: auto !important;
}


/* Overriding default library styles */

:root {
    --sidebar-name-background: ;
    --sidebar-name-color: ;

    /* --mono-hue        : 113;
    --mono-saturation : 0%; */

    --theme-hue: 35;
    --theme-saturation: 100%;
    --theme-lightness : 44%;

    --cover-background-image: radial-gradient(50% ellipse at center center, rgba(255, 255, 255, 0.4), transparent);
    --base-background-color: #2c2c2c;
    --base-color: #A3A3A3;
    --mark-background: #FFFFFF;
    --selection-color: #E08300;

    --sidebar-width: 25rem;
    --cover-max-width: 50em;
}

.search .clear-button.show {
    display: flex !important;
    align-items: center;
}

body .sidebar {
    font-size: 14px;
}
